services:
  db:
    image: mariadb:10.6
    container_name: pdns-db
    environment:
      MYSQL_ROOT_PASSWORD: zaq1@WSX
      MYSQL_DATABASE: powerdns
      MYSQL_USER: pdns
      MYSQL_PASSWORD: test
    volumes:
      - db-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
  pdns-auth-master:
    image: aferq/pdns-auth:v1
    container_name: pdns-auth
    depends_on:
      - db
    environment:
      - PDNS_gmysql_host=db
      - PDNS_gmysql_user=pdns
      - PDNS_gmysql_password=test
      - PDNS_gmysql_dbname=powerdns
      - PDNS_api_key=supersecretkey
    ports:
      - "5300:53/udp"
      - "5300:53/tcp"
      - "8081:8081"  # API access for PowerDNS-Admin
    volumes:
      - pdns-data:/data
      - ./pdns.conf:/etc/powerdns/pdns.conf
    restart: always
  powerdns-admin:
    image: aferq/pdns-webui:v1
    container_name: pdns-admin
    environment:
      - SQLALCHEMY_DATABASE_URI=mysql+pymysql://pdns:test@db/powerdnsadmin
      - PDNS_API_URL=http://pdns-auth-master:8081
      - PDNS_API_KEY=supersecretkey
      - ADMIN_USER=admin1
      - ADMIN_PASSWORD=admin1
      - SIGNUP_ENABLED=True
    ports:
      - "0.0.0.0:9191:80"
    depends_on:
      - db
      - pdns-auth-master
  powerdns-recursor:
    image: aferq/pdns-rec:v2
    container_name: pdns-rec
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./recursor.yml:/etc/powerdns/recursor.yml
#    restart: unless-stopped
volumes:
  db-data:
  pdns-data:
